extends layout

block content
  h1(class="title") #{title}
  - if (signedin)
    div(class="composeform")
      form(action='/tweets/:user', method='post', id="tweet")
        h3(class="composesign") Compose a Twit
        input(name='tweeting', id="tweeting", class="tweeting")
    
        div(class="submitbutton")
          button('type='submit')
            | Send Twit

  div(id="tweetrefresher", class="alltweets")
    include _tweets