extends layout

block content
  h1 #{title}

  div
    form(action='/tweets/:user', method='post', id="tweet")
      | Compose a Twit
      input(name='tweeting', id="tweeting")
  
      button('type='submit')
        | Send Twit

  div
     each tweet, i in recent
      | #{tweet.tweet}
      br
      | #{tweet.username}
      br
      | #{tweet.created}
      br