body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #5D99D5;
}

a {
  color: #00B7FF;
}

h1.title {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

h2.looktwits {
	text-align: center;
	border-bottom: solid black 3px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
}

div.composeform {
	background-color: #94999E;
	margin: 10px;
	border: solid black 4px;
	display: inline-block;
	vertical-align: text-top;
	padding: 10px;
	border-radius: 10px;
	margin-left: 130px;
}

h3.composesign {
	display: inline-block;
	width: 25%;
	text-align: center;
}

input.tweeting {
	margin-left: 10px;
	display: inline-block;
	overflow:scroll;
	width: 60%;
}

div.submitbutton{
	margin-right: 30px;
	display: block;
	text-align: right;
}

div.alltweets {
	background-color: #94999E;
	display: inline-block;
	border: solid black 4px;
	padding: 10px;
	border-radius: 10px;
	vertical-align: text-top;
	margin-left: 10px;
	width: 550px;
}

div.onetweet {
	display: block;
	padding: 10px;
	position: relative;
	border-radius: 10px;
	padding-bottom: 15px;
}